input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    width: fit-content;
    position: absolute;
    top: -90px;
    right: 30px;
    justify-content: flex-end;
    font-size: 50px;
    user-select: none;
}

.navigation-container:first-child {
    margin-left: 25%;
}

.navigation-container>ul {
    display: inline-flex;
    justify-content: right;
    width: 100%;
}

.navigation-container>ul>li:last-child {
    margin-left: auto;
}

.dropdown-menu>li,
.navigation-container>ul>li {
    margin-inline-end: 0.85em;
    border: .25rem solid rgba(0, 0, 0, 0.247);
    border-radius: .5rem;
    margin: var(--margin);
}

.dropdown-menu>li:hover,
.navigation-container>ul>li:hover {
    border: .25rem solid #B70000;
    border-radius: .5rem;
    box-shadow: var(--black-shadow);
}

/* .dropdown>a:hover,
.dropdown-menu>li>a:hover,
.navigation-container>ul>li>a:hover {
    color: var(--orange-engineering);
} */

.dropdown-menu {
    display: none;
    position: absolute;
    top: 165px;
    padding: 5px;
    min-width: 240px;
    border: 1px solid black;
    z-index: 10000;
    box-shadow: var(--black-shadow);
    background-color: var(--sunray);
}

.dropdown-arrow {
    margin-left: 10px;
}