* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.start{
    justify-content: flex-start;
}

.end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.hidden {
    display: none;
}

#box {
    min-height: 50px;
    padding: 2px;
    border: 1px solid red;
}

#box-2 {
    min-height: 50px;
    padding: 2px;
    border: 1px solid green;
}

#box-3 {

    padding: 2px;
    border: 1px solid yellow;
}

#box-4 {
    min-height: 50px;
    padding: 2px;
    border: 1px solid blue;
}

.primary-header {
    background-color: #BBCFD7;
}

.primary-navigation > ul {
    display: inline-flex;
}

.primary-navigation > ul > li {
    margin-inline-end: 0.85em;
    padding: 5px;
}

.primary-navigation > ul > li a:last-child {
    margin-left: 0 auto;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: -5px;
    margin-top: 5px;
    padding: 5px;
    min-width: 100px;
    border: 1px solid black;
}

