/* ======================

STYLE SHEET FOR GAMEHUB INC. 

Style list:

1. Global style

2. Components

3. Images & Icons

4. 

5.  


   ====================== */

/* ======================
    1. GLOBAL STYLE
   ====================== */

:root {

    /* ==== Font family ==== */
    --ff-header: 'Martel Sans', sans-serif;
    /* -- Font-family headings -- */
    --ff-body: 'Cabin', sans-serif;
    /* -- Font-family copy -- */
    --ff-link: 'Poppins', sans-serif;
    /* -- Font-family links -- */

    /* ==== Font size desktop ==== */
    --h1: 60px;
    --h2: 48px;
    --h3: 40px;
    --h4: 30px;
    --h5: 24px;
    --h6: 18px;
    --body-lg: 24px;
    --body-md: 19px;
    --body-sm: 17px;
    --link: 20px;

    /* ==== Font size mobile ==== */
    --mobile-h1: 24px;
    --mobile-h2: 16px;
    --mobile-body-sm: 15px;
    --mobile-link: 13px;

    /* ==== colour variables ==== */

    /* -- Steel Teal -- */
    --steel-teal: #5B828E;
    /* -- Beau Blue -- */
    --beau-blue: #BBCFD7;
    /* -- Alice Blue -- */
    --alice-blue: #E3E8EE;
    /* -- Silver Sand -- */
    --silver-sand: #A5B4B9;
    /* -- Sunray -- */
    --sunray: #EAB354;
    /* -- Dim Gray -- */
    --ding-gray: #625F5E;
    /* -- Charleston Green -- */
    --charleston-green: #262B2B;
    /* -- Orange engineering -- */
    --orange-engineering: #B70000;
    /* -- Red pigment -- */
    --red-pigment: #FC141E;
    /* -- Charcoal -- */
    --charcoal: #3B5160;
    /* -- Sheen Green -- */
    --sheen-green: #89CD4A;
    /* -- Sky Blue Crayola -- */
    --sky-blue: #4BC6DB;
    /* -- Black -- */
    --black: #000000;


    /* -- Global Border -- */
    --border: .015em solid var(--charcoal);
    /* -- Global border-radius -- */
    --border-radius: 0.25em;
    /* -- Global padding text -- */
    --text-padding: 0 25px 0 25px;
    /* -- Global padding buttons -- */
    --btn-padding: 0.35em 1.2em;
    /* -- Global sunray-shadow -- */
    --sunray-shadow: 0px 5px 16px 0px var(--sunray);
    /* -- Global black-shadow -- */
    --black-shadow: 0px 5px 16px 0px var(--black);
    /* -- Global text-shadow -- */
    --text-shadow: 0px 0px 2px var(--charcoal);

    /* -- Global Image width Desktop -- */
    --desk-width: 620px;
    /* -- Global Image width Mobile -- */
    --mobile-width: 320px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
}

p {
    font-family: var(--ff-body);
    font-size: var(--body-md);
    color: var(--black);
}

a {
    font-family: var(--ff-link);
    font-size: var(--link);
    color: var(--black);

    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: var(--black);
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--beau-blue);
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
}

footer {
    display: block;

    background-color: var(--beau-blue);
}

/* -- Flex -- */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;

    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 100%;

    align-items: stretch;
}

.flex-span{
    justify-content: space-between;
}

/* ======================
    2. Components
   ====================== */

/* -- Navigation -- */
.nav-mobile{
    display: none;
}

.nav-top {
    margin-top: 10px;
    margin-left: 50px;

    background-color: var(--beau-blue);
}

.nav-link {
    display: inline;
    margin: 15px;
}

.nav-link:last-child {
    margin-left: 250px;
}

.page-link {
    font-weight: bold;
    padding: 0.1em 0.4em;
    margin: 15px;

    border-bottom: 2px solid var(--black);
    font-family: var(--ff-link);
    font-size: var(--link);
    color: var(--black);
}

.page-link:hover {
    border-bottom: 2px solid var(--orange-engineering);
}

/* -- Dropdown menu -- */
#dropdown,
.dropdown-desktop {
    display: none;
}

.dropdown-desktop {
    position: fixed;
    top: 249px;
    right: 0px;
    padding: 15px;
}

#dropdown:checked~.dropdown-desktop {
    display: block;
    background: linear-gradient(-45deg, var(--sunray) 50%, var(--beau-blue) 50%);
}

.nav-bottom {
    justify-content: flex-end;


    background: linear-gradient(-15deg, var(--sunray) 75%, var(--beau-blue) 25%);
    padding: 15px;

}

/* .nav-bottom-triangle {
    position: relative;
    top: -45px;
    left: 215px;
    min-width: 100px;
    border-left: 100px solid transparent;

    border-bottom: 50px solid var(--sunray);
    border-right: 977px solid var(--sunray);
} */

/* -- Content Container -- */
.content-container {
    min-height: fit-content;
    margin: 20px;

    max-width: var(--desk-width);
    box-shadow: var(--sunray-shadow);
}

.content-title {
    align-items: center;

    max-width: var(--desk-width);
    background-color: var(--sunray);
}

.content-title-2 {
    position: relative;
    align-items: center;

    background-color: var(--sunray);

}

.main-header {
    padding: 0;
    margin: 0;
}

.secondary-header {
    position: absolute;
    top: 300px;
    left: 10px;

    background-color: var(--sunray);
    padding-left: 20px;
    padding-right: 20px;
}

.text-box {
    padding: 30px;

    background-color: var(--alice-blue);
}

.content-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 20px 0;

    background-color: var(--alice-blue);
}

/* -- Button's -- */
.cta-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    background-color: var(--sunray);
    border: var(--border);
    box-shadow: var(--black-shadow);
}

/* ======================
    3. Images & Icons
   ====================== */

.box-img {
    flex: 1 1 100%;

    max-width: var(--desk-width);
}

.nav-logo {
    max-width: 250px;
}

/* ======================
    4. Media queries
   ====================== */

@media only screen and (max-width: 500px) {

    h1 {
        font-size: var(--mobile-h1);
    }

    h2 {
        font-size: var(--mobile-h2);
    }

    p {
        font-family: var(--ff-body);
        font-size: var(--body-sm);
        color: var(--black);
    }

    a {
        font-family: var(--ff-link);
        font-size: var(--mobile-link);
        color: var(--black);

        text-decoration: none;
        cursor: pointer;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .box-img {
        max-width: var(--mobile-width);
        flex: 1 1 100%;
    }

    /* -- Navigation -- */
    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: block;
        background-color: var(--beau-blue);
    }

    .nav-top-mobile {
        background-color: var(--beau-blue);
        box-shadow: var(--black-shadow);
    }

    .cut-out{
        height: 40px;
        background: linear-gradient(-45deg, white 85%, var(--beau-blue) 15%);
    }

    .nav-logo {
        max-width: 100px;
    }

    .menu-icon{
        margin-right: 20px;
        width: 25px;
    }

    .nav-link {
        display: inline;
        margin: 0;
    }

    .nav-link:last-child {
        margin-left: 0;
    }

    .nav{
        margin-left: 50px;
        margin-top: 10px;
    }

    .nav-2 {
        margin-left: 0;
        width: fit-content;
    }

    .page-link {
        font-weight: bold;
        padding: 0.1em 0.4em;
        margin: 25px;

        border-bottom: 2px solid var(--black);
        font-family: var(--ff-link);
        font-size: var(--mobile-link);
        color: var(--black);
    }

    .page-link:hover {
        border-bottom: 2px solid var(--orange-engineering);
    }

    /* -- Dropdown menu -- */
    #dropdown-mobile,
    .dropdown-mobile {
        display: none;
    }

    .dropdown-mobile {
        position: relative;
        top: 0px;
        padding: 1px;
        z-index: 99;
        
    }

    #dropdown-mobile:checked~.dropdown-mobile {
        display: block;
        margin-left: 13px;
        height: 40px;
        background: linear-gradient(-45deg, var(--sunray) 87%, var(--beau-blue) 13%);      
    }

    #dropdown-2-mobile,
    .dropdown-2-mobile {
        display: none;
    }

    .dropdown-2{
    display: block;
    width: fit-content;
    margin-top: 20px;
    }

    .dropdown-2-mobile {
        position: relative;
        top: 8px;
        right: -286px;
        width: fit-content;
    }

    #dropdown-2-mobile:checked~.dropdown-2-mobile {
        display: flex;
        padding-bottom: 5px;
        background: var(--sunray);
        
    }

    .content-container {
        min-height: fit-content;
        margin: 5px;
        box-shadow: var(--sunray-shadow);
    }

    .box-img {
        max-width: 100%;
    }

    .main-header {
        padding: 0;
        margin: 0;
    }

    .secondary-header {
        position: absolute;
        top: 150px;

        background-color: var(--sunray);
        padding-left: 20px;
        padding-right: 20px;
    }

}