:root {

    /* ==== Font family ==== */
    --ff-header: 'Martel Sans', sans-serif;
    /* -- Font-family headings -- */
    --ff-body: 'Cabin', sans-serif;
    /* -- Font-family copy -- */
    --ff-link: 'Poppins', sans-serif;
    /* -- Font-family links -- */

    /* ==== colour variables ==== */

    /* -- Steel Teal -- */
    --steel-teal: #5B828E;
    /* -- Beau Blue -- */
    --beau-blue: #BBCFD7;
    /* -- Alice Blue -- */
    --alice-blue: #E3E8EE;
    /* -- Silver Sand -- */
    --silver-sand: #A5B4B9;
    /* -- Sunray -- */
    --sunray: #EAB354;
    /* -- Dim Gray -- */
    --ding-gray: #625F5E;
    /* -- Charleston Green -- */
    --charleston-green: #262B2B;
    /* -- Orange engineering -- */
    --orange-engineering: #B70000;
    /* -- Red pigment -- */
    --red-pigment: #FC141E;
    /* -- Charcoal -- */
    --charcoal: #3B5160;
    /* -- Sheen Green -- */
    --sheen-green: #89CD4A;
    /* -- Sky Blue Crayola -- */
    --sky-blue: #4BC6DB;
    /* -- Black -- */
    --black: #000000;


    /* -- Global Border -- */
    --border: .015em solid var(--charcoal);
    /* -- Global border-radius -- */
    --border-radius: 0.25em;
    /* -- Global border-radius -- */
    --border-radius-nav: 0.25em 0.25em 0 0;
    /* -- Global padding text -- */
    --text-padding: 0 25px 0 25px;
    /* -- Global padding buttons -- */
    --btn-padding: 0.35em 1.2em;
    /* -- Global sunray-shadow -- */
    --sunray-shadow: 0px 5px 16px 0px var(--sunray);
    /* -- Global black-shadow -- */
    --black-shadow: 0px 5px 16px 0px var(--black);
    /* -- Global text-shadow -- */
    --text-shadow: 0px 0px 2px var(--charcoal);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
a {
    font-family: var(--ff-link);
    color: var(--black);

    text-decoration: none;
    cursor: pointer;
}

li {
    display: flex;
    list-style: none;
}

header{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 100;
}

img {
    width: 100%;
}

/* ===================== 
    GRID DISPLAY SECTION
   ====================== */
.grid-gallery{
    display: grid;
    justify-items: center;
    padding: 10px;
}

.grid-col{
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.grid-row{
    grid-template-rows: auto;
}

.grid-span-2 {
    
}

/* ===================== 
    FLEX DISPLAY SECTION
   ====================== */

.flex {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-baseline {
    justify-content: baseline;
}

.flex-center {
    justify-content: center;
}

.hidden {
    display: none;
}

#box {
    padding: 2px;
    border: 1px solid red;
}

#box-2 {
    min-height: 50px;
    padding: 2px;
    border: 1px solid green;
}

#box-3 {

    padding: 2px;
    border: 1px solid yellow;
}

#box-4 {
    min-height: 50px;
    padding: 2px;
    border: 1px solid blue;
}

/* =================== 
    HEADER SECTION
=================== */

.primary-header {
    background-color: #BBCFD7;
    height: fit-content;
    box-shadow: var(--black-shadow);
}

.desktop-logo {
    display: flex;
}

.mobile-logo {
    display: none;
}

.primary-navigation {
    background: linear-gradient(-15deg, var(--sunray) 75%, var(--beau-blue) 25%);
    width: 100%;
    height: fit-content;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;

    justify-content: flex-end;
    font-size: 50px;
    margin-top: -100px;
    margin-right: 40px;
    user-select: none;
}

.navigation-container:first-child {
    margin-left: 25%;
}

.navigation-container>ul {
    display: inline-flex;
    justify-content: right;
    width: 100%;
}

.navigation-container>ul>li:last-child {
    margin-left: auto;
}

.dropdown-menu>li,
.navigation-container>ul>li {
    margin-inline-end: 0.85em;

    border-bottom: 0.1em solid black;
    margin: 15px;
}

.navigation-container>ul>li>a {
    display: inline;

}

.dropdown {
    position: relative;
}

.dropdown [data-toggle="dropdown"] {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 35px;
    left: -5px;
    padding: 5px;
    min-width: 220px;
    border: 1px solid black;
    z-index: 100;
    box-shadow: var(--black-shadow);
    background-color: var(--sunray);
}

.menu-link {
    display: inline-flex;
    font-size: 20px;
}

.menu-icon {
    width: 20px;
    margin-right: 5px;
}

.company-name {
    font-family: var(--ff-header);
    font-size: 40px;
    font-weight: bold;
}

.logo {
    width: 150px;
}

/* =================== 
    MAIN SECTION
=================== */
.page-wrapper {
    margin: 10px 25px;
    height: 100% auto;
}

/* cards */
.card{
    max-width: 350px;
    background-color: var(--alice-blue);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--black-shadow);
}

.card-header{
    text-align: center;
    background-color: var(--alice-blue);

}

.card-header > h3 {
    font-size: 26px;
    font-family: var(--ff-header);
    background-color: var(--sunray);
}

.card-main{
    padding: 10px;
    font-family: var(--ff-body);
    font-size: 17px;
    height: auto;
}

.card-footer{
    justify-content: center;
    font-family: var(--ff-link);
}

.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: transparent;
    border-top: 0.5px solid black;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: underline var(--sunray);
}

.cta-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;

    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    background-color: var(--sunray);
    border: var(--border);
    box-shadow: var(--black-shadow);
}


/* ========================== 
    MEDIA QUERIES SECTION
========================== */

@media (max-width: 744px) {

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
    }

    input[type=checkbox]:checked~.menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        box-shadow: var(--black-shadow);
        background-color: var(--sunray);
    }

    .hamburger {
        display: flex;
    }

    .primary-navigation {
        background: linear-gradient(-15deg, var(--sunray) 75%, var(--beau-blue) 25%);
        width: 100%;
        height: fit-content;
        position: relative;
    }

    .menu {
        display: none;
        position: absolute;
        top: 0px;
        
    }
    
    .active {
        position: absolute;
        top: 0;
    }

    .dropdown-menu {
        padding: 5px;
        min-width: 220px;
        border: 1px solid black;
        z-index: 10;
        box-shadow: var(--black-shadow);
        background-color: var(--sunray);
    }

    .navigation-container:first-child {
        margin-left: 0;
    }
    
    .navigation-container:last-child {
        margin-left: 0;
    }

    .navigation-container>ul {
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }

    .navigation-container>ul>li {
        margin: 0;
        margin-top: 10px;
        width: 100%;
    }

    .navigation-container>ul>li>div {
        margin: 0;
        margin-top: 10px;
        width: 100%;
    }

    .navigation-container>ul>li:last-child {
        margin-left: 0;
        margin-bottom: 10px;
    }
}