/* ======================

STYLE SHEET FOR GAMEHUB INC. 

Style list:

1. Global style

2. Components

3. Images & Icons

4. 

5.  


   ====================== */

/* ======================
    1. GLOBAL STYLE
   ====================== */

:root {

    /* ==== Font family ==== */
    --ff-header: 'Martel Sans', sans-serif;
    /* -- Font-family headings -- */
    --ff-body: 'Cabin', sans-serif;
    /* -- Font-family copy -- */
    --ff-link: 'Poppins', sans-serif;
    /* -- Font-family links -- */

    /* ==== Font size desktop ==== */
    --h1: 60px;
    --h2: 48px;
    --h3: 40px;
    --h4: 30px;
    --h5: 24px;
    --h6: 18px;
    --body-lg: 24px;
    --body-md: 19px;
    --body-sm: 17px;
    --link: 20px;

    /* ==== Font size mobile ==== */
    --mobile-h1: 24px;
    --mobile-h2: 16px;
    --mobile-body-sm: 15px;
    --mobile-link: 13px;

    /* ==== colour variables ==== */

    /* -- Steel Teal -- */
    --steel-teal: #5B828E;
    /* -- Beau Blue -- */
    --beau-blue: #BBCFD7;
    /* -- Alice Blue -- */
    --alice-blue: #E3E8EE;
    /* -- Silver Sand -- */
    --silver-sand: #A5B4B9;
    /* -- Sunray -- */
    --sunray: #EAB354;
    /* -- Dim Gray -- */
    --ding-gray: #625F5E;
    /* -- Charleston Green -- */
    --charleston-green: #262B2B;
    /* -- Orange engineering -- */
    --orange-engineering: #B70000;
    /* -- Red pigment -- */
    --red-pigment: #FC141E;
    /* -- Charcoal -- */
    --charcoal: #3B5160;
    /* -- Sheen Green -- */
    --sheen-green: #89CD4A;
    /* -- Sky Blue Crayola -- */
    --sky-blue: #4BC6DB;
    /* -- Black -- */
    --black: #000000;


    /* -- Global Border -- */
    --border: .015em solid var(--charcoal);
    /* -- Global border-radius -- */
    --border-radius: 0.25em;
    /* -- Global border-radius -- */
    --border-radius-nav: 0.25em 0.25em 0 0;
    /* -- Global padding text -- */
    --text-padding: 0 25px 0 25px;
    /* -- Global padding buttons -- */
    --btn-padding: 0.35em 1.2em;
    /* -- Global sunray-shadow -- */
    --sunray-shadow: 0px 5px 16px 0px var(--sunray);
    /* -- Global black-shadow -- */
    --black-shadow: 0px 5px 16px 0px var(--black);
    /* -- Global text-shadow -- */
    --text-shadow: 0px 0px 2px var(--charcoal);

    /* -- Global Image width Desktop -- */
    --desk-width: 620px;
    /* -- Global Image width Mobile -- */
    --mobile-width: 320px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    font-weight: bold;
}

p {
    font-family: var(--ff-body);
    font-size: var(--body-md);
    color: var(--black);
}

a {
    font-family: var(--ff-link);
    font-size: var(--link);
    color: var(--black);

    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: var(--black);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: var(--beau-blue);
}

nav {
    background: linear-gradient(-15deg, var(--sunray) 75%, var(--beau-blue) 25%);
}

main {
    width: 100%;
    height: 100vh;
    padding-top: 150px;

}

footer {
    margin-bottom: 0;
    width: 100%;
    background-color: var(--beau-blue);
}

li {
    list-style: none;

    font-family: var(--ff-body);
    font-size: var(--body-md);
    color: var(--black);
}

.span-block {
    display: block;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.page-header {
    justify-content: center;
    margin-bottom: 25px 25px;
}

.page-textarea {
    align-content: center;
}

.company-name{
    font-family: var(--ff-header);
    font-size: var(--h4);
    color: var(--black);
}

.header-top{
    overflow: hidden;
}

.header-bottom{
    margin-top: -13px;
}

.space {
    padding: 15px;
}

/* -- Flex -- */
.flex {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

.flex-row {
    flex-direction: row;
    gap: 20px;
}

.flex-col {
    flex-direction: column;
    gap: 10px;
}

.flex-center{
    align-content: center;
    justify-content: center;
}

.flex-span {
    justify-content: space-between;
}

.flex-hidden {
    display: none;
}

.flex-wrapper {
    display: flex;
    flex: 1 1 100%;
    height: 100vh;
    margin: 20px 25px;
}

.flex-gallery {
    justify-content: center;
    gap: 25px;
}

/* -- Navigation -- */
.nav-link {
    display: inline-flex;
    font-weight: bold;
    padding: 0.1em 0.4em;
    margin-bottom: 5px;
    margin-left: 20px;

    border-bottom: 2px solid var(--black);
    font-family: var(--ff-link);
    font-size: var(--link);
    color: var(--black);
}

.nav-link:hover {
    border-bottom: 2px solid var(--orange-engineering);
}

.nav-link:first-child {
    margin-left: 26%;
}

.nav-link:last-child {
    margin-left: auto;
    margin-right: 15px;
}

.nav-logo {
    max-width: 150px;
}

/* -- Content -- */
.content-container {
    position: relative;
    height: fit-content;
    align-content: flex-start;
    margin: 25px;
    border-radius: 10px 10px 0px 0px;
    max-width: 300px;

    background-color: var(--alice-blue);
    box-shadow: var(--black-shadow);
}

.content-container-1 {
    max-width: 50%;
    margin: 0 auto;
}

.content-head {
    position: relative;


}

.content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    border-radius: 10px 10px 0px 0px;
    text-transform: uppercase;
    background-color: var(--sunray);
}

.main-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}

.secondary-header {
    position: absolute;
    bottom: -15px;

    background-color: var(--sunray);
    padding-left: 20px;
    padding-right: 20px;
}

.content-image {
    max-width: 100%;
}

.content-text {
    max-width: 250px;
    padding: 20px;
}

.textarea {
    padding: 15px;
}

.text-center {
    text-align: center;
}

.content-footer {
    background-color: var(--alice-blue);
}

.content-footer > p {
    padding-bottom: 10px;
}

.youtube-video {
    width: 1000px;
    height: 500px;
    border: 0;
}

.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: transparent;
    border-top: 0.5px solid black;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: underline var(--sunray);
}

.cta-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;

    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    background-color: var(--sunray);
    border: var(--border);
    box-shadow: var(--black-shadow);
}

/* Dropdown */
.dropdown [data-toggle="dropdown"] {
    position: relative;
}

.dropdown [data-toggle="dropdown"]:hover {
    border-bottom: 2px solid var(--orange-engineering);
}

.dropdown-menu {
    background-color: var(--sunray);
}

.dropdown-menu > li {
    margin-top: 40px;
}

.dropdown-menu > li:first-child {
    margin-top: 0px;
}

.active {
    position: absolute;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-direction: column;
}

.icon{
    width: 20px;
    aspect-ratio: 1;
    margin-right: 0.4em;
}

.icon-dropdown{
    margin-left: 0.5em;
}

.social-links{
    padding: 10px;
}

.social-icon{
    width: 100px;
    margin-left: 10px;
}

.copyright {
    padding: 15px;
    margin-left: auto;

}

/* ======================
    2. Components
   ====================== */